.articles{
    min-height:50vh;
    padding:50px;
    background-color: hsl(0, 0%, 98%);
    &__title{
        margin-top:50px;
        font-size:$fontSize*2.5;
        font-weight:400;
        color:hsl(233, 8%, 20%);
    }
    &__container{
        margin-top:50px;
        min-height:40vh;
        display:flex;
        justify-content: space-between;
    }
    &__article{
        flex-basis:23%;
        border-radius:10px;
        background-color: hsl(100, 0%, 100%);
        display:flex;
        flex-direction: column;
        &-img{
            flex-basis:60%;
            img{
                border-radius:10px 10px 0 0;
                height:100%;
                width:100%;
            }
        }
        &-author{
            color: hsl(233, 8%, 55%);
            font-size:10px;
        }
        &-title{
            font-size:16px;
            font-weight:400;
            color:hsl(233, 8%, 20%);
            margin:15px 0;
            transition: .15s;
            &:hover{
                color:hsl(136, 65%, 51%);
                cursor:pointer;
            }
        }
        &-info{
            color: hsl(233, 8%, 55%);
            font-size:14px;
        }
        &-desc{
            flex-basis:40%;
            padding:10px;
        }
    }
}